*{
    margin: 0;
    padding: 0;
}
body{
    width: 1200px;
    margin: 0 auto;
}
.header_1{
    background-color: rgb(178 189 189 / 74%);
    height: 80px;
}
.div_1{
    margin: 60px 350px;
    background-color: rgb(178 189 189 / 74%);
    height: 80px;
    width: 500px;
    float: left; 
}
.div_2_1{
    width: 590px;
    height: 600px;
    background-color: rgb(178 189 189 / 74%);
    float: left;
}
.div_2_2 {
    width: 590px;
    height: 600px;
    background-color: rgb(178 189 189 / 74%);
    float: right;
} 
.div_3 {
    margin: 60px 250px;
    background-color: rgb(178 189 189 / 74%);
    height: 80px;
    width: 700px;
    float: left;
}
.div_4 {
    margin:0 100px;
    width: 1000px;
    float: left;
}
.div_4_1,
.div_4_2,
.div_4_3,
.div_4_4,
.div_4_5,
.div_4_6,
.div_4_7,
.div_4_8{
    background-color: rgb(178 189 189 / 74%);
    height: 235px;
    width: 235px;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}
.div_4_8,
.div_4_4{
    margin-right: 0;
}
.div_5{
    margin: 30px 150px;
    background-color: rgb(178 189 189 / 74%);
    height: 80px;
    width: 900px;
    float:left;
}
.div_6{
    margin-top: 30px;
    width: 1200px;
    height: 800px;
    background-color: rgb(178 189 189 / 74%);
    float: left;
}
.div_6_1,
.div_6_2,
.div_6_3{
    background-color: white;
    width: 300px;
    height: 600px;
    float: left;
    margin: 100px 100px;
}
.div_6_2{
    margin-left: 0;
    margin-right: 0;
}
.div_6_1{
    margin-right: 50px;
}
.div_6_3{
    margin-left: 50px;
}
.div_6__1{
    background-color: rgb(178 189 189 / 74%);
    height: 50px;
    width: 200px;
    margin: 50px;
    float: left;
}
.div_6__2,
.div_6__3{
    background-color: rgb(178 189 189 / 74%);
        height: 175px;
        width: 200px;
        margin: 50px;
        float: left;
        margin-top: 0;
}
.div_7 {
    margin: 60px 400px;
    background-color: rgb(178 189 189 / 74%);
    height: 80px;
    width: 400px;
    float: left;
}
.div_8,
.div_9 {
    margin: 30px 300px;
    margin-top: 0;
    background-color: rgb(178 189 189 / 74%);
    height: 80px;
    width: 600px;
    float: left;
}
.div_9{
    height: 240px;
    margin-bottom:20px;
}
.div_10_1,
.div_10_2{
    margin: 20px 300px;
    margin-bottom: 150px;
    background-color: rgb(178 189 189 / 74%);
    height: 80px;
    width: 285px;
    float: left;
}
.div_10_1{
    margin-right: 15px;
}
.div_10_2{
    margin-left: 15px;
}
.div_11{
    background-color: rgb(178 189 189 / 74%);
    width: 1200px;
    height: 280px;
    float: left;
}
.div_11_1{
    background-color:white;
    margin: 40px;
    margin-right: 0;
    width: 540px;
    height: 200px;
    float: left;
}
.div_11_2{
    background-color: white;
    margin: 40px;
    margin-left: 0;
    width: 540px;
    height: 200px;
    float: right;
}